<template>
  <div class="home">
    <h1>Hola Home</h1>
  </div>
</template>

<style scoped>
  .home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: black;
  }
</style>
