<script setup lang="ts">
import type IStudent from '@/interfaces/IStudent';
import { useStudentStore } from '@/stores/student';
import { onMounted, ref, type Ref } from 'vue';
import { useRoute} from 'vue-router';

const studentStore = useStudentStore();
const student:Ref<IStudent> = ref({}) as Ref<IStudent>;
onMounted(async()=> {
    const router = useRoute();
    const studentID = router.params.id as string;
    await studentStore.getStudent(studentID);
    student.value = studentStore.student;
})
</script>

<template>
    <div class="container">
        <div class="card-client">
            <div>
                <img src="@/assets/user.png" width="150">
            </div>
           <div class="content">
            <h4>Student:</h4>
                <p class="name-client"> {{ student.name }}
                    <span>{{ student.group }}
                    </span>
                </p>
                <hr>
                <h4>Contacto:</h4>
                <p class="name-client">
                    <span>{{ student.email }}
                    </span>
                </p>
           </div>
        </div>
    </div>
</template>

<style scoped>
.container {
    min-height: 80vh;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-client {
    background: white;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #34495e;
    display: flex;
}

.name-client {
    margin: 0;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.content{
    padding: 20px;
}

h4{
    font-weight: bold;
    text-transform: uppercase;
}
hr{
    margin: 10px 0;
    color: white;
}
</style>