<script lang="ts" setup>
import type IStudent from '@/interfaces/IStudent';
import { useStudentStore } from '@/stores/student';
import { onMounted, ref, type Ref} from 'vue';

const studentStore = useStudentStore();
const students:Ref<IStudent[]> = ref([]);

onMounted(async () => {
    await studentStore.getStudents();
    students.value = studentStore.students;
});

const deleteProject = async(id: number) => {
    const confirmDelete = confirm('¿Estás seguro de eliminar este estudiante?');
    if(confirmDelete){
        await studentStore.deleteStudent(id.toString());
        students.value = studentStore.students;
        location.reload();
    }
};
</script>

<template>
    <div class="container">
        <ol class="list">
            <div v-for="(student, index) in students" :key="index" class="list-item">
                <li>
                    <RouterLink :to="{ name: 'student', params: { id: student.id } }">
                        {{ student.name }}
                    </RouterLink>
                </li>
                <button class="borrar" v-on:click="deleteProject(student.id)">Eliminar</button>
            </div>
        </ol>
    </div>
</template>

<style scoped>
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #41b883;
}
.list {
    counter-reset: li;
    width: 100%;
    list-style: none;
    font-size: 1.5rem;
    padding: 0;
    margin: 1rem;

    & .list-item {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin: 1rem;
        background: white;
        padding: 10px;
    }

    & li {
        position: relative;
        display: block;
        width: 100%;
        margin: 1rem 0;
        transition: all .3s ease-out;

        &:before {
            content: counter(li);
            counter-increment: li;
            color: white;
            padding: 20px;
            margin-right: 10px;
            background: #34495e;
            height: 3rem;
            width: 3rem;
            line-height: 2.5rem;
            text-align: center;
            font-weight: bold;
        }
    }
}

.borrar{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.borrar:hover{
    font-weight: bold;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
</style>