<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <div class="container">
    <header>
      <div>
        <nav>
          <RouterLink :to="{ name: 'home' }">
            <img class="logoV" src="@/assets/logo.svg" width="60" />
          </RouterLink>
          <RouterLink :to="{ name: 'students' }">
            <button class="btn-nav" data-content="Students">
              Students
            </button>
          </RouterLink>
          <RouterLink :to="{ name: 'register' }">
            <button class="btn-nav" data-content="Register">
              Register
            </button>
          </RouterLink>
        </nav>
      </div>
    </header>
    <RouterView />
  </div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid;
  padding: 20px;
  background: white;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
}

.logoV:hover{
  opacity: 0.6;
  animation: zoom-in-zoom-out 1s ease infinite;
}

.btn-nav{
  background: transparent;
  border: none;
  color: #34495e;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.btn-nav:hover{
  color: aquamarine;
}

.btn-nav::after{
  content: '-';
  display: block;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin: 10px auto;
}
.btn-nav:hover::after{
  width: 60px;
  height: 1px;
  background: #41b883;
  transition: all 0.2s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

</style>
